In [2]:
from PIL import Image

In [37]:
import streamlit as st
import numpy as np
import pandas as pd

In [61]:
def load_data(data):
    if data == 'Manhattan':
        df = pd.read_csv('displaycardManhattan.csv', encoding='utf-8')
        sn = pd.read_csv('Manhattan_snapshot.csv', encoding='utf-8')
    
    elif data == 'Brooklyn':
        df = pd.read_csv('displaycardBrooklyn.csv', encoding='utf-8')
        sn = pd.read_csv('Brooklyn_snapshot.csv', encoding='utf-8')
        
    elif data == 'Queens':
        df = pd.read_csv('displaycardQueens.csv', encoding='utf-8')
        sn = pd.read_csv('Queens_snapshot.csv', encoding='utf-8')
      
    elif data == 'Staten Island':
        df = pd.read_csv('displaycardStatenIsland.csv', encoding='utf-8')
        sn = pd.read_csv('StatenIsland_snapshot.csv', encoding='utf-8')
      
    elif data == 'The Bronx':
        df = pd.read_csv('displaycardBronx.csv', encoding='utf-8')
        sn = pd.read_csv('Bronx_snapshot.csv', encoding='utf-8')
   
    return df, sn

In [9]:
st.title('Yelp Report Card')

In [10]:
st.write('by Hamilton Chang\n')

In [11]:
image = Image.open('download.png')
st.image(image, caption='Yelp!', use_column_width=False, format='PNG')

In [ ]:
st.markdown('## UPDATE: Snapshot of positive and negative reviews have been added!')

In [12]:
st.markdown('Welcome to the Yelp Report Card.  For this project, I collected approximately 460,000 reviews from 5000 restaurants in New York City.  I then processed them for Sentiment Analysis to determine if the review was positive or negative.  My next step was to use Latent Dirichlet Alloction or LDA on the approximately 15 million words in the reviews to determine the topic of the review, separated as Food, or Service.  Lastly, I combined my two analysis to determine if the reveiwer liked the food/service, or did not like the food/service and produced a final score as a percentage of responses.')

In [13]:
st.markdown('Why are we doing this?  To help restaurants establish a baseline and determine what part of the dining experience they need to work on.  This potentially could be an add on service for business owners so they can fine tune their restaurant and hopefully improve their numbers.')

In [14]:
st.markdown('## Feel Free to Play with it!')

In [22]:
#df1 = pd.read_csv('displaycardManhattan.csv')

In [23]:
#df1 = df1.set_index('restaurant')

In [26]:
#df1 = df1.drop(columns='Unnamed: 0')

In [62]:
boros = ['Manhattan', 'Brooklyn', 'Queens', 'Staten Island', 'The Bronx']

In [63]:
#named = df1.index.to_list()

In [64]:
boro = st.sidebar.selectbox('Choose a Borough', boros)

In [65]:
df,sn = load_data(boro)

In [66]:
df = df.set_index('restaurant')
sn = sn.set_index('restaurant')

In [67]:
df = df.drop(columns = 'Unnamed: 0')
sn = sn.drop(columns = 'Unnamed: 0')

In [68]:
named = df.index.to_list()

In [69]:
option = st.sidebar.selectbox(
    'Choose a Restaurant',
     named)

In [70]:
st.balloons()

In [71]:
st.write(df.iloc[df.loc[option]])

In [72]:
df.loc[option]

negfood_score       0.040323
negservice_score    0.040323
posfood_score       0.701613
posservice_score    0.217742
Name: Upstate, dtype: float64

In [74]:
tracker = df.iloc[df.loc[option]]

In [57]:
df.head()

,restaurant,negfood_score,negservice_score,posfood_score,posservice_score
0,Upstate,0.040323,0.040323,0.701613,0.217742
1,Amélie,0.040650,0.016260,0.585366,0.357724
2,Clinton Street Baking Company,0.070866,0.000000,0.803150,0.125984
3,LoveMama,0.081967,0.016393,0.745902,0.155738
4,BoCaphe,0.083333,0.041667,0.616667,0.258333

In [75]:
tracker

            negfood_score  negservice_score  posfood_score  posservice_score
restaurant
Upstate          0.040323          0.040323       0.701613          0.217742
Upstate          0.040323          0.040323       0.701613          0.217742
Upstate          0.040323          0.040323       0.701613          0.217742
Upstate          0.040323          0.040323       0.701613          0.217742

In [ ]:
df.loc[tracker].plo

In [77]:
st.bar_chart(df.loc[tracker], height=40)

ValueError: Cannot index with multidimensional key

In [ ]:
st.markdown('## The below is a snapshot of some Positive and Negative Reviews:')

In [ ]:
st.write(sn.iloc[tracker]['Positive Review 1'])

In [ ]:
st.write(sn.iloc[tracker]['Positive Review 2'])

In [ ]:
st.write(sn.iloc[tracker]['Positive Review 3'])

In [ ]:
st.write(sn.iloc[tracker]['Negative Review 1'])

In [ ]:
st.write(sn.iloc[tracker]['Negative Review 2'])

In [ ]:
st.write(sn.iloc[tracker]['Negative Review 3'])