In [2]:
from PIL import Image

In [2]:
import streamlit as st
import numpy as np
import pandas as pd

In [3]:
def load_data(data):
    if data == 'Manhattan':
        df = pd.read_csv('displaycardManhattan.csv', encoding='utf-8')
        sn = pd.read_csv('Manhattan_snapshot.csv', encoding='utf-8')
    
    elif data == 'Brooklyn':
        df = pd.read_csv('displaycardBrooklyn.csv', encoding='utf-8')
        sn = pd.read_csv('Brooklyn_snapshot.csv', encoding='utf-8')
        
    elif data == 'Queens':
        df = pd.read_csv('displaycardQueens.csv', encoding='utf-8')
        sn = pd.read_csv('Queens_snapshot.csv', encoding='utf-8')
      
    elif data == 'Staten Island':
        df = pd.read_csv('displaycardStatenIsland.csv', encoding='utf-8')
        sn = pd.read_csv('StatenIsland_snapshot.csv', encoding='utf-8')
      
    elif data == 'The Bronx':
        df = pd.read_csv('displaycardBronx.csv', encoding='utf-8')
        sn = pd.read_csv('Bronx_snapshot.csv', encoding='utf-8')
   
    return df, sn

In [9]:
st.title('Yelp Report Card')

In [10]:
st.write('by Hamilton Chang\n')

In [11]:
image = Image.open('download.png')
st.image(image, caption='Yelp!', use_column_width=False, format='PNG')

In [ ]:
st.markdown('## UPDATE: Snapshot of positive and negative reviews have been added!')

In [12]:
st.markdown('Welcome to the Yelp Report Card.  For this project, I collected approximately 460,000 reviews from 5000 restaurants in New York City.  I then processed them for Sentiment Analysis to determine if the review was positive or negative.  My next step was to use Latent Dirichlet Alloction or LDA on the approximately 15 million words in the reviews to determine the topic of the review, separated as Food, or Service.  Lastly, I combined my two analysis to determine if the reveiwer liked the food/service, or did not like the food/service and produced a final score as a percentage of responses.')

In [13]:
st.markdown('Why are we doing this?  To help restaurants establish a baseline and determine what part of the dining experience they need to work on.  This potentially could be an add on service for business owners so they can fine tune their restaurant and hopefully improve their numbers.')

In [14]:
st.markdown('## Feel Free to Play with it!')

In [22]:
#df1 = pd.read_csv('displaycardManhattan.csv')

In [23]:
#df1 = df1.set_index('restaurant')

In [26]:
#df1 = df1.drop(columns='Unnamed: 0')

In [62]:
boros = ['Manhattan', 'Brooklyn', 'Queens', 'Staten Island', 'The Bronx']

In [63]:
#named = df1.index.to_list()

In [64]:
boro = st.sidebar.selectbox('Choose a Borough', boros)

In [65]:
df,sn = load_data(boro)

In [66]:
df = df.set_index('restaurant')
sn = sn.set_index('restaurant')

In [67]:
df = df.drop(columns = 'Unnamed: 0')
sn = sn.drop(columns = 'Unnamed: 0')

In [ ]:
df['new col'] = range(0, len(df))
sn['new col'] = range(0, len(sn))

In [122]:
df.head()

,negfood_score,negservice_score,posfood_score,posservice_score,new col
restaurant,,,,,
Haidilao Hotpot,0.008197,0.032787,0.459016,0.500000,0
The Alcove,0.007874,0.031496,0.574803,0.385827,1
Jack & Nellie's,0.042373,0.059322,0.661017,0.237288,2
Mojo Restaurant,0.050420,0.050420,0.596639,0.302521,3
Queens Comfort,0.039683,0.039683,0.579365,0.341270,4

In [1]:
named = df.index.to_list()
indexed = df['new col'].to_list()

NameError: name 'df' is not defined

In [ ]:
dic = dict(zip(indexed, named))

In [69]:
option = st.sidebar.selectbox(
    'Choose a Restaurant',
     indexed, format_func=lambda x: dic[x])

In [70]:
st.balloons()

In [71]:
st.write(df.iloc[option, :4])

In [108]:
st.bar_chart(df.iloc[option, :4], height=80)

In [ ]:
st.markdown('## The below is a snapshot of some Positive and Negative Reviews:')

In [ ]:
st.write(sn.iloc[option]['Positive Review 1'])

In [ ]:
st.write(sn.iloc[option]['Positive Review 2'])

In [ ]:
st.write(sn.iloc[option]['Positive Review 3'])

In [ ]:
st.write(sn.iloc[option]['Negative Review 1'])

In [ ]:
st.write(sn.iloc[option]['Negative Review 2'])

In [ ]:
st.write(sn.iloc[option]['Negative Review 3'])

In [4]:
#df = pd.read_csv('displaycardQueens.csv', encoding='utf-8')
#sn = pd.read_csv('Queens_snapshot.csv', encoding='utf-8')

In [5]:
#df.head()

,Unnamed: 0,negfood_score,negservice_score,posfood_score,posservice_score,restaurant
0,0,0.008197,0.032787,0.459016,0.500000,Haidilao Hotpot
1,1,0.007874,0.031496,0.574803,0.385827,The Alcove
2,2,0.042373,0.059322,0.661017,0.237288,Jack & Nellie's
3,3,0.050420,0.050420,0.596639,0.302521,Mojo Restaurant
4,4,0.039683,0.039683,0.579365,0.341270,Queens Comfort

In [6]:
#df = df.set_index('restaurant')
#sn = sn.set_index('restaurant')

In [7]:
#df = df.drop(columns = 'Unnamed: 0')
#sn = sn.drop(columns = 'Unnamed: 0')

In [8]:
#df['new col'] = range(0, len(df))
#sn['new col'] = range(0, len(sn))

In [9]:
#named = df.index.to_list()
#indexed = df['new col'].to_list()

In [10]:
#dic = dict(zip(indexed, named))

In [11]:
#dic

{0: 'Haidilao Hotpot',
 1: 'The Alcove',
 2: "Jack & Nellie's",
 3: 'Mojo Restaurant',
 4: 'Queens Comfort',
 5: 'Memories of Shanghai',
 6: 'Forest Hills Station House',
 7: 'Kitchen 79',
 8: 'Sugar Freak',
 9: 'Sanfords Astoria',
 10: 'Metro Taco',
 11: "Mom's Kitchen & Bar",
 12: 'The Highwater',
 13: 'Jora Restaurant & Bar',
 14: 'Oceanic Boil',
 15: 'Arepa Lady',
 16: 'Cabana',
 17: 'Sweet Chick',
 18: 'Dinerbar',
 19: "Joe's Steam Rice Roll",
 20: "Trattoria L'incontro",
 21: 'Trestle',
 22: 'Nicks Bistro',
 23: 'The Queensboro',
 24: 'LIC Market',
 25: 'Naked Crab',
 26: 'Rincon Criollo',
 27: 'Maiella',
 28: 'IL Triangolo Restaurant',
 29: 'Lobster House All You Can Eat Seafood',
 30: 'Taverna Kyclades',
 31: 'JoJu',
 32: 'Rainhas Churrascaria',
 33: 'Marani',
 34: 'Meet The Meat',
 35: 'The Shady Lady',
 36: 'Seva Indian Cuisine',
 37: 'Lhasa Fast Food',
 38: 'Astoria Seafood',
 39: "Kin'd",
 40: 'SoleLuna Restaurant',
 41: 'SriPraPhai Thai Restaurant',
 42: "Julia's",
 43: 'The Beast Next Door',
 44: 'The Cast Iron Pot 3',
 45: 'Park Side Restaurant',
 46: 'Hahm Ji Bach',
 47: 'Bund On Broadway',
 48: 'Shanghai You Garden',
 49: 'Casa Enrique',
 50: 'Mamajuana Cafe Queens',
 51: 'Leaf Bar & Lounge',
 52: 'District Saigon',
 53: 'Queens International Night Market',
 54: 'John Brown Smokehouse',
 55: 'Lucky Chen - 五锦轩',
 56: 'The Breakfast Shack',
 57: 'Côté Soleil',
 58: 'Maxi’s Noodle',
 59: 'Sabor De Cuba',
 60: 'Gastroteca',
 61: 'Mama Lee',
 62: 'The Bonnie',
 63: 'Mito Asian Fusion',
 64: 'Café Henri',
 65: 'OBA Mediterranean Gyro & Grill',
 66: 'Kung Fu Xiao Long Bao',
 67: 'KAL',
 68: 'Queens Bully',
 69: 'LaGuardia Cafe',
 70: 'The Thirsty Koala',
 71: 'Hashi Ramen & Izakaya',
 72: 'Izakaya Mew Flushing',
 73: 'Ornella Trattoria Italiana',
 74: 'Taste Good Malaysian Cuisine',
 75: 'Tuscan Hills',
 76: "Dawa's",
 77: 'Xin Taste Hand Pull Noodle',
 78: 'Butcher Bar',
 79: 'Main Street C&L Imperial Taiwanese Gourmet 北港台菜館',
 80: 'Rove',
 81: 'Tamashii Red',
 82: '969 NYC Coffee',
 83: 'Yummy Noodle House 粥麵之家',
 84: "London Lennie's",
 85: 'Bistro Eloise',
 86: 'Sup Thai Kitchen',
 87: 'The Astorian',
 88: 'Blend',
 89: "Fresco's Cantina",
 90: 'The Door',
 91: 'Tiger Sugar',
 92: 'Lao Bei Fang Dumpling House',
 93: 'Addictive Wine and Tapas Bar',
 94: 'Mu Ramen',
 95: "Dirty Pierre's",
 96: 'The Dolar Shop',
 97: 'Dae Sung Kal Guk Su',
 98: 'Roast & Co',
 99: 'Lamoon',
 100: 'La Cabana',
 101: 'The Coop',
 102: 'Red Pipe Cafe',
 103: 'Gyu-Kaku Japanese BBQ',
 104: 'Good Eats Diner',
 105: 'Chela & Garnacha',
 106: 'Sik Gaek',
 107: "Tito Rad's Grill",
 108: 'No5nyc',
 109: 'Legend Chicken',
 110: 'While In Kathmandu',
 111: 'Mad For Chicken',
 112: 'Spy C Cuisine',
 113: 'Industry 1332',
 114: 'Anable Basin Sailing Bar & Grill',
 115: 'The Lowery Bar & Kitchen',
 116: 'Sweet Afton',
 117: 'Eim Khao Mun Kai Elmhurst',
 118: 'Fu Yuan',
 119: 'Pho Metro',
 120: 'Taiwanese Gourmet',
 121: 'La Boulangerie',
 122: 'Xiang Hot Pot',
 123: 'Urubamba',
 124: 'Rimtin Mediterranean Restaurant',
 125: 'Gossip House',
 126: 'Cipollina Gourmet',
 127: 'Pelicana Chicken',
 128: 'The Panorama of My Silence-Heart',
 129: 'Tavern 157',
 130: 'Bellwether',
 131: 'Banter Irish Bar and Kitchen',
 132: 'Szechuan Mountain House',
 133: 'Ayada Thai',
 134: 'Spring Shabu-Shabu',
 135: 'Don Tequila Urban Cantina',
 136: 'Zum Stammtisch',
 137: 'Pio Pio 2',
 138: 'Cheburechnaya',
 139: 'Bajeko Sekuwa',
 140: 'The Sweet Sap',
 141: 'Aroma Brazil Restaurant',
 142: 'Yummy Tummy Asian Bistro',
 143: 'Casa Del Chef',
 144: 'Little Pepper',
 145: 'Pye Boat Noodle',
 146: 'Psari Seafood Restaurant & Bar',
 147: 'La Vecina',
 148: "Sal, Kris, & Charlie's Deli",
 149: 'Grand Sichuan NY II',
 150: 'Kurry Qulture',
 151: 'Matiz Latin Cuisine',
 152: 'Umi Sushi',
 153: 'Milkflower',
 154: 'Arepas Cafe',
 155: 'Taqueria Kermes',
 156: 'Lobster Roll Factory',
 157: 'Jägerhaus German Restaurants and Biergarten',
 158: 'Pho Che',
 159: 'Ninos Aq',
 160: 'Peking BBQ',
 161: "Sami's Kabab House",
 162: 'The Classic Diner',
 163: 'Nur Thai',
 164: 'Tuk Tuk',
 165: 'Souk El Shater',
 166: 'Beijing Dumpling House',
 167: "Oliver's Astoria",
 168: 'Loukoumi Taverna',
 169: 'BlackSea Fish & Grill',
 170: 'Jaew Hon New York',
 171: 'The Freakin Rican Restaurant',
 172: 'Aperitif Bistro Bayside',
 173: "THE HUNTRESS whiskey n' wings",
 174: 'The Sparrow Tavern',
 175: 'Akino',
 176: "Pop's Diner",
 177: "Pop's Cocina Bar",
 178: 'Salvatoria Kitchen & Bar',
 179: 'Ltauha Restaurant',
 180: 'White Bear',
 181: 'New World Mall Food Court',
 182: 'Trinciti Roti Shop & Restaurant',
 183: 'Quaint',
 184: "Norma's Corner Shoppe",
 185: 'Vesta',
 186: 'The Local Press',
 187: 'HinoMaru Ramen',
 188: 'Piccola Venezia Restaurant',
 189: "Halalbee's",
 190: "Jackson's Eatery | Bar",
 191: 'Bliss 46 Bistro',
 192: 'Tu Casa Restaurant',
 193: 'Liuyishou Hotpot',
 194: 'Sotto Le Stelle',
 195: 'Vite Vinosteria',
 196: "Tony's Beechhurst Deli",
 197: 'The Ozone Diner',
 198: 'Il Poeta',
 199: 'Cemitas El Tigre',
 200: 'Manor Oktoberfest',
 201: 'Spice Kitchen',
 202: 'Off The Hook Raw Bar & Grill',
 203: 'Hunan Kitchen of Grand Sichuan',
 204: "Mr. Dre's Kitchen Bar",
 205: 'Debasaki',
 206: 'O Lavrador',
 207: 'MACA Peruvian Restaurant',
 208: 'Heat Caribbean Kitchen & Lounge',
 209: 'You Garden Xiao Long Bao',
 210: 'Matsuri',
 211: 'Bocaito Cafe & Wine Bar',
 212: 'Cafe Triskell',
 213: 'Il Bambino',
 214: 'Momo Crave',
 215: "Violet's Vietnamese Shoppe",
 216: 'Taqueria Coatzingo',
 217: 'Avli The Little Greek Tavern',
 218: 'DiWine',
 219: 'Tournesol',
 220: 'Pho Best',
 221: "Laly's Restaurant",
 222: "Patrizia's Of Maspeth",
 223: 'Nippon Cha',
 224: 'Koroni Souvlaki and Grill',
 225: 'The Pomeroy',
 226: 'Ssam Tong',
 227: 'Slide Bar-B-Q',
 228: 'Farine Baking Company',
 229: 'Lali Guras',
 230: "Leo's Latticini Mama's",
 231: 'BKNY Thai Restaurant',
 232: 'Shanghai Zhen Gong Fu 上海真功夫',
 233: 'Jackson Hole',
 234: '勝面 Sheng Ramen',
 235: 'Phayul',
 236: "Rocco's Italian Sausages & Philly Cheese Steaks",
 237: 'La Vigna Restaurant',
 238: 'Barosa',
 239: 'Tru Astoria',
 240: 'The Basac',
 241: 'Pio Pio 1',
 242: 'Pelicana Chicken',
 243: "Chimama's Noodle House",
 244: 'Murasaki',
 245: 'Taqueria Santa Fe',
 246: 'Zio Luigi',
 247: 'Villa Brazil Cafe Grill',
 248: 'Acquista Trattoria',
 249: 'La Flor',
 250: 'Amylos Taverna',
 251: "Queen's Room",
 252: 'Sky Cafe',
 253: 'Taste of Samarkand',
 254: 'Jamaican Flavors',
 255: "Jacup's",
 256: 'Alley 41',
 257: 'Copacabana',
 258: "Christo's Steak House",
 259: 'Il Falco',
 260: "Dani's House of Pizza",
 261: 'La Cabana Argentinan Steakhouse',
 262: 'Abuqir Seafood',
 263: 'Ok Lah',
 264: 'Don Peppe',
 265: 'Asian Jewels Seafood Restaurant',
 266: "Mar's",
 267: 'Little Egypt',
 268: 'Thái Son',
 269: 'Bamboo Ya',
 270: 'BCD Tofu House',
 271: 'A-Churrasqueira Restaurant & Bar',
 272: "Bubba's Bistro",
 273: 'Blend Astoria',
 274: 'Suzuki Shokudo',
 275: "Paloma's",
 276: 'Family Corner Restaurant',
 277: "Dee's",
 278: 'Unidentified Flying Chickens',
 279: 'Penthouse 808',
 280: 'Comfortland',
 281: 'Ihawan',
 282: 'Hug Esan',
 283: 'Prince Tea House',
 284: 'Ovelia',
 285: 'O2 Korean BBQ',
 286: 'Jollibee',
 287: 'East Ocean Palace',
 288: 'Kissfish',
 289: 'Bareburger',
 290: 'Adda',
 291: 'Vibes',
 292: 'Chihuahua',
 293: "Louie's Pizza",
 294: 'Bahari Estiatorio',
 295: 'Himalayan Yak',
 296: 'Picnic Garden',
 297: 'Omani',
 298: 'Tang Restaurant',
 299: 'Tamashii Ramen',
 300: 'Daxi Sichuan 大喜',
 301: 'PappaRich Flushing',
 302: 'Las Catrinas Mexican Bar & Eatery',
 303: 'The Brewery Bar & Kitchen',
 304: 'The Buffet',
 305: 'Sushi Time',
 306: 'Hot Space Grilled Fish',
 307: 'The Haab',
 308: 'Blend on the Water',
 309: 'Pho Grand Bayside',
 310: 'White Noise Coffee Co',
 311: 'Imperial Palace',
 312: 'Kabul Kabab House',
 313: 'Khao Kang',
 314: 'Dunhuang Lanzhou Beef Noodle',
 315: 'Hot N Juicy Crawfish',
 316: 'Dek Sen',
 317: 'Spanglish NYC',
 318: 'Shun Wang Restaurant',
 319: 'El Campeon De Los Pollos',
 320: 'THE BARONESS burgers + beers',
 321: 'iCook Buffet',
 322: 'Margherita Pizza',
 323: 'SGD Tofu House',
 324: 'Homemade Taqueria',
 325: '88 Canteen',
 326: 'Chicken Lovers',
 327: 'Lunera Modern Mexican',
 328: 'Parksanbal Babs',
 329: 'Georgia Diner',
 330: 'Takumen',
 331: 'Mombar',
 332: 'OK Ryan Restaurant',
 333: 'Boon Chu Thai Place',
 334: 'House of Thai',
 335: "Uncle Peter's",
 336: 'Malay Restaurant',
 337: 'Astoria Craft',
 338: 'I Love Paraguay',
 339: 'Sushi Daizen',
 340: 'Alberto Restaurant',
 341: 'Max Bratwurst und Bier',
 342: 'Taqueria Santa Fe',
 343: "Jane's Eatery",
 344: 'Katsuno',
 345: 'Truva Cafe and Grill',
 346: 'Nanking',
 347: 'Nowadays',
 348: 'Nick’s Pizza',
 349: '5 Burro Cafe',
 350: 'Xian Famous Foods',
 351: 'The Factory Bar & Restaurant',
 352: 'Fu Run Dong Bei',
 353: "Sabry's",
 354: 'MoCA Asian Bistro',
 355: 'Krolewskie Jadlo',
 356: 'Taste of Heaven',
 357: '99 Favor Taste',
 358: 'Victory Garden Cafe',
 359: 'Plaka',
 360: 'The King Of Taco',
 361: "Benateri's Italian Gourmet Deli",
 362: 'Woodbines',
 363: 'Utopia Bagels',
 364: 'Madera Cuban Grill & Steakhouse',
 365: 'Palermo Restaurant & Bar',
 366: 'Turkish Grill',
 367: 'Forno Pizzeria E Trattoria',
 368: 'Otis',
 369: 'Doma',
 370: 'Shuya Cafe de Ramen',
 371: "Joe's Restaurant",
 372: 'Copper Kettle Bar & Restaurant',
 373: 'T-Swirl Crêpe',
 374: 'De Mole',
 375: 'Blue Cups',
 376: 'Kabayan',
 377: 'Kimganae',
 378: 'Jujube Tree',
 379: 'Numero 28 Pizzeria',
 380: 'Totto Ramen - Flushing',
 381: 'Beija Flor',
 382: 'Veggie Castle II',
 383: 'Little Sheep Mongolian Hot Pot',
 384: 'Agora Taverna',
 385: 'Manor Oktoberfest',
 386: 'The Ditty',
 387: 'Sifu Chio',
 388: 'Keuka Kafe a Wine Bar',
 389: 'Aroma Indian Cuisine',
 390: 'Hk Cafe',
 391: 'Father Knows Best',
 392: 'Dynamite Seafood',
 393: "Neir's Tavern",
 394: "Manetta's Ristorante",
 395: 'Java Day Cafe',
 396: 'Samudra Vegetarian Restaurant & Chaat House',
 397: 'The Cheesecake Factory',
 398: 'Tacuba',
 399: 'Brothers Taverna',
 400: 'Arepas Grill',
 401: 'Green Zenphony',
 402: 'La Boina Roja Steak House',
 403: 'Shogun Hibachi',
 404: 'UThai',
 405: 'Chivito De Oro',
 406: 'Cyclo',
 407: 'Shaking Crab',
 408: 'Nan Xiang Xiao Long Bao',
 409: 'Yaar Indian Restaurant',
 410: 'Fino Wine & Tapas',
 411: "Connolly's Corner",
 412: 'Halal Munchies',
 413: 'Mad Donkey Beer Bar & Grill',
 414: 'Corona Diner',
 415: 'El Gauchito',
 416: 'Pampas Argentinas',
 417: 'La Esquina Criolla',
 418: 'Oro Restaurant & Lounge',
 419: 'West Bar & Lounge',
 420: 'Pollos A La Brasa Mario',
 421: "Rosa's Pizza",
 422: 'Mister Hotpot 鍋大爺',
 423: 'Friendship Foods BBQ',
 424: 'Taverna Kyclades - Bayside',
 425: 'Sodam',
 426: 'Jardin De China',
 427: 'Zenon Taverna',
 428: 'Yu Garden Dumpling House',
 429: 'Mezquite Restaurant',
 430: 'Sunswick',
 431: 'Rolly Kimbab',
 432: 'Burgerology',
 433: 'Trattoria 35',
 434: 'La Nueva Bakery',
 435: 'Yupdduk Flushing',
 436: 'Stamatis Restaurant',
 437: "Gregory's 26 Corner Taverna",
 438: 'El Pollo Inka Peru',
 439: 'RESOBOX',
 440: 'Hansol Nutrition Center',
 441: 'Houdini Kitchen Laboratory',
 442: "Ida's Nearabout",
 443: 'Patacon Pisao',
 444: "Miller's Ale House - Rego Park",
 445: 'Pulau Pinang',
 446: 'Bunna Cafe',
 447: 'Reef Restaurant',
 448: 'Shiro of Japan',
 449: 'Lucia Pizza',
 450: 'Pine Restaurant & Sports Bar',
 451: 'Dutch Kills Centraal',
 452: 'Tikka Indian Grill',
 453: 'Peking Duck Sandwich Stall',
 454: 'Shake Shack',
 455: 'Little Morocco',
 456: "Austin's Ale House",
 457: 'Burger Club',
 458: 'Indie',
 459: 'Okonomi',
 460: 'Taco King',
 461: 'Pizza Classica',
 462: 'Cevabdzinica Sarajevo',
 463: 'Butcher Block',
 464: 'La Fusta Restaurant',
 465: 'Agnanti',
 466: 'Riviera Ristorante',
 467: 'Han Joo Chik Naeng Myun & BBQ',
 468: "Sangarita's",
 469: 'Bagel Oasis',
 470: 'Buccaneer Diner',
 471: 'Cachapas y Mas',
 472: 'Kilo Astoria',
 473: 'Sapps',
 474: 'Modoo - Chicken & Noodle Bar',
 475: "Crazy Willy's",
 476: 'The Flying Cock',
 477: 'PokéWave',
 478: 'E Taverna To Koutouki',
 479: 'Hibino',
 480: 'Playground Bar & Bistro And Taitoon Thai Karaoke',
 481: 'Homemade Taqueria',
 482: 'Geo Si Gi',
 483: 'The Strand Smokehouse',
 484: 'New Lake Pavilion',
 485: 'Paul Michaels Brick Oven Pizza Restaurant',
 486: "Maria's Mediterranean",
 487: 'E Noodle House',
 488: 'Bonjuk',
 489: 'La Gringa Bar and Grill',
 490: "Renee's Kitchenette & Grill",
 491: 'Guan Fu Sichuan',
 492: "Dominie's Hoek",
 493: 'Emoji Burger',
 494: 'Akrotiri Seafood Taverna',
 495: "Halsey's Tavern",
 496: 'Sweet Chick',
 497: 'Kababish',
 498: 'Dillingers Pub & Grill',
 499: 'Hae Woon Dae',
 500: "Chano's Cantina",
 501: 'Sushi Yasu',
 502: 'Koliba',
 503: 'Spicy Shallot',
 504: 'Arepalicious',
 505: 'New Mei Hua 新美華',
 506: 'Tommy Thai',
 507: 'Cafe Ole',
 508: "Blackbird's Bar & Restaurant",
 509: '3Greeks Grill',
 510: 'Rakuzen Elmhurst',
 511: 'Tacos Y Jugos Genesis',
 512: 'M. Wells Steakhouse',
 513: "Rosa's Pizza",
 514: 'The Bund',
 515: 'Café 1 of a Kind',
 516: 'Juquila Kitchen and Bar',
 517: 'Tower Diner',
 518: 'Awang Kitchen',
 519: 'Enthaice Thai Kitchen',
 520: 'Salt + Charcoal',
 521: 'Tea Cup Cafe',
 522: 'Tea and Milk',
 523: 'Little Tibet',
 524: 'Levante',
 525: 'Lamb Noodle Soup 滋補羊肉燴面',
 526: 'Takesushi',
 527: 'Dallas BBQ',
 528: 'Tikka Indian Grill',
 529: "Mike's Pizza",
 530: "Donovan's Pub",
 531: 'Lillian Pizzeria',
 532: 'Bierocracy',
 533: 'TJ Asian Bistro',
 534: 'Maizal Restaurant & Tequila Bar',
 535: 'ChilSung Korean BBQ',
 536: "Cristina's Deli",
 537: 'Black Thai',
 538: 'Cherry Valley Deli & Grill',
 539: 'Karczma',
 540: 'Mustang Thakali Kitchen',
 541: "Addy's Barbeque",
 542: 'Mojave',
 543: "Cronin & Phelan's",
 544: 'New York Food Court 紐約美食城',
 545: 'Forma Pasta Factory',
 546: 'Chick-fil-A',
 547: 'ECB Burgers',
 548: 'Cheeseboat',
 549: 'Mizumi',
 550: 'Astoria Provisions',
 551: 'Nikko Hibachi',
 552: 'Iki Modern Japanese Cuisine',
 553: 'Cobblestones Pub and Biergarten',
 554: 'Shawarmania',
 555: 'Stix Kosher Restaurant',
 556: "Joe's Shanghai",
 557: "Uncle Jack's Meat House",
 558: 'Shake Shack',
 559: 'Olive Garden Italian Restaurant',
 560: 'Fukuoka Shabu Shabu',
 561: 'Tamashii Blue',
 562: 'Legends Bar & Grill',
 563: 'Antica Trattoria',
 564: 'Super  Pollo  Restaurant',
 565: 'Astoria Pizza Factory',
 566: 'Favela Grill',
 567: 'Sekend Sun',
 568: 'Goo Gong Tan',
 569: 'nonono',
 570: 'Don Alex',
 571: 'Kalamaki GR',
 572: 'Pahal Zan',
 573: 'Shake Shack',
 574: 'Watawa Sushi',
 575: 'Tonkatsu Matsunoya',
 576: 'Mi Espiguita Taqueria',
 577: 'Don Coqui',
 578: 'Woodhaven House',
 579: 'Dar 525',
 580: "Sammy's Halal Food",
 581: 'Chao Thai',
 582: 'LUNA  Asian Bistro & Lounge',
 583: 'Xinjiang BBQ Cart',
 584: 'Sea Wolf',
 585: 'Juquila Mexican Cuisine',
 586: 'Gahwa Korean Restaurant',
 587: 'Hot Peppers',
 588: "Don Nico's",
 589: 'Naked Dog',
 590: 'Bodai Vegetarian',
 591: 'Joong Koog Jip',
 592: 'Passage Irish Bar and Kitchen',
 593: 'Win Son',
 594: 'Oxomoco',
 595: "Pete's Grill",
 596: 'Village Grill',
 597: 'Manducatis',
 598: 'Sakura 7',
 599: 'Veranda Restaurant & Cafe',
 600: 'Ole Mexican Grille',
 601: 'T-Swirl Crêpe',
 602: "Sybil's Bakery and Restaurant",
 603: 'Arirang Restaurant',
 604: 'Bangkok Cuisine',
 605: '51st Bakery and Cafe',
 606: 'IHOP',
 607: 'Alpha Donuts',
 608: 'LongHorn Steakhouse',
 609: "Jahn's",
 610: 'De Mole Astoria',
 611: 'Ichopsticks',
 612: "Mable's Smokehouse & Banquet Hall",
 613: 'Basil Brick Oven Pizza',
 614: 'Rego Bagels',
 615: "Rudy's Pastry Shop",
 616: 'Wo Kee Noodle',
 617: 'Jackson Diner',
 618: "Alfie's Pizza"}

In [118]:
# tracker

10

In [ ]:
#problem still is finding the entry.
#Create dictionary? or create matching list, transpose?
#how to save index location from matching name?