In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vaderManhattan.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,price,rating,restaurant_id,restaurant_name,review_count,review_1,review_2,review_3,...,pos137,compound137,neg138,neu138,pos138,compound138,neg139,neu139,pos139,compound139
0,0,0,$$,4.5,ehUuSk5gPTCQmwS_ubgKRA,Upstate,1788,Had a reservation on Saturday night for dinner...,"While it's not my new go-to place for seafood,...",Mehhhhh. Overrated in my opinion.We walked in ...,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,1,$$,4.5,ETgJqJHV7BW6pIr9Ox74sA,Amélie,2570,The food and drinks here are both delicious. W...,My boyfriend took me here for my birthday earl...,We came for our anniversary dinner. I got the ...,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2,2,$$,4.0,nU4XBdvxDABXqZ6CnB8Dig,Clinton Street Baking Company,4851,I stopped by here to have brunch on my last da...,"This is probably my favorite brunch in NYC, fe...",Came here many years ago & tried their famous ...,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,3,3,$$,4.5,jjJc_CrkB2HodEinB6cWww,LoveMama,4578,Was here with my boyfriend one Sunday evening ...,My friend and I checked out LoveMama around 6p...,We were vacationing in New York and found this...,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,4,$$,4.0,C2o3Iw-DXjoUJFgQIbiqkQ,BoCaphe,1291,I came here with my friend last Saturday becau...,We found this restaurant from the review on ye...,I'm surprised this place has such good reviews...,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [4]:
df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'price', 'rating', 'restaurant_id', 'review_count'], inplace=True)

In [5]:
df.head()

,restaurant_name,review_1,review_2,review_3,review_4,review_5,review_6,review_7,review_8,review_9,...,pos137,compound137,neg138,neu138,pos138,compound138,neg139,neu139,pos139,compound139
0,Upstate,Had a reservation on Saturday night for dinner...,"While it's not my new go-to place for seafood,...",Mehhhhh. Overrated in my opinion.We walked in ...,"Unfortunately, dinner here was pretty disappoi...","This place is overrated, i would give only 2 s...",Came here on a Friday night around 6:30pm and ...,"I've been here twice and both times, I was pre...",Great place. The waiter was extremely helpful ...,This place is an affordable gem! Perfect for a...,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Amélie,The food and drinks here are both delicious. W...,My boyfriend took me here for my birthday earl...,We came for our anniversary dinner. I got the ...,Came here for a light dinner with my friend an...,Amelie is a lively wine bar with with cheese a...,I am simply in love. This has become my new fa...,This was my second time I visited the place. T...,Truly enjoyed our dining experience at Amelie....,- One of my favourite French restaurants in ny...,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Clinton Street Baking Company,I stopped by here to have brunch on my last da...,"This is probably my favorite brunch in NYC, fe...",Came here many years ago & tried their famous ...,I've heard so much about this place over the y...,Met friends here with high expectations. Sadly...,Will you really read this review? I think ever...,I lived nearby for years and used to time my v...,Came here for brunch and was overall impressed...,"I can't believe in 2019, businesses are still ...",...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,LoveMama,Was here with my boyfriend one Sunday evening ...,My friend and I checked out LoveMama around 6p...,We were vacationing in New York and found this...,While this place may look a little dingy and d...,This place is PACKED on a Friday night. Don't ...,"A place that sells Vietnamese, Malaysian AND T...",This is my 2nd time here and I've enjoyed both...,Very cheap quality Thai food! The food was gre...,Good causal reasonably priced food. My boyfrie...,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,BoCaphe,I came here with my friend last Saturday becau...,We found this restaurant from the review on ye...,I'm surprised this place has such good reviews...,"When I think of having Vietnamese, I immediate...",Interesting fusion food but not worth the pric...,I bookmarked this business long ago based on t...,I'd definitely say it's Vietnamese inspired at...,This was one of the most disappointing culinar...,This was my first time at BoCaPhe for a birthd...,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [6]:
rva = ['review_'+ str(x+1) for x in range(139)]

In [10]:
rem = ['compound'+ str(x+1) for x in range(139)]

In [7]:
df.drop(columns=rva, inplace=True)

In [8]:
df.head()

,restaurant_name,neg1,neu1,pos1,compound1,neg2,neu2,pos2,compound2,neg3,...,pos137,compound137,neg138,neu138,pos138,compound138,neg139,neu139,pos139,compound139
0,Upstate,0.000,0.747,0.253,0.9652,0.017,0.818,0.165,0.9843,0.085,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Amélie,0.019,0.736,0.244,0.9762,0.038,0.734,0.228,0.9965,0.028,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Clinton Street Baking Company,0.027,0.872,0.101,0.8806,0.000,0.633,0.367,0.9807,0.116,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,LoveMama,0.041,0.791,0.169,0.9686,0.031,0.793,0.176,0.9902,0.013,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,BoCaphe,0.073,0.719,0.208,0.9811,0.056,0.790,0.154,0.9360,0.034,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [14]:
df.groupby('restaurant_name').('compound'+str(x+1) for x in range(139)).apply(lambda x: pd.Series([(x < 0).sum(), (x >= 0).sum()])).unstack()

SyntaxError: invalid syntax (<ipython-input-14-d8fab574530c>, line 1)