In [1]:
import pandas as pd

In [2]:
df = pd.read_json('reportcardQueens.json')

In [3]:
df1 = pd.read_json('reportcardBrooklyn.json')

In [4]:
df1.head()

,negfood_score,negservice_score,posfood_score,posservice_score,restaurant
0,0.039683,0.063492,0.539683,0.357143,Mominette
1,0.079365,0.071429,0.595238,0.253968,Peaches HotHouse
2,0.048780,0.081301,0.504065,0.365854,Baron's
3,0.049587,0.024793,0.710744,0.214876,Lowerline
4,0.032520,0.056911,0.471545,0.439024,Claw Daddy's

In [5]:
df.to_csv('displaycardQueens.csv')

In [6]:
df1.to_csv('displaycardBrooklyn.csv')